<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Analysis to US Birth Data by State & Education</title>
  <script src ="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js">
  </script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- D3 -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

  <!-- Plotly CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="static/css/map-style.css">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>US Birth Analysis Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
 
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select an Education Level:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)" style="width:100%"></select>
        </div>
      </div>
      <div class="col-md-10">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">State Information</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

    
      <div class="row">
        <div class="col-md-6">
          <div id="genderBarChart"></div>
        </div>
        <div class="col-md-6">
          <!-- Other dashboard elements
        </div>
      </div> -->
      
          <!-- Other dashboard elements
        </div>
      </div>/div> -->
    
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>
<!-- The div that holds our chart -->
<div id="gender-year-births"></div>
  <!-- The div that holds our map -->

  <div id="map-id"></div>
  <script src="../static/js/rainbowvis.js"></script>
  <script src="../static/js/bridged_map.js"></script>


  <!-- Our JavaScript file -->
  <script src="static/js/birth.js"></script>

</body>

</html>