<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education Level Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="../data/style.css">
  <style>
    #map {
      height: 500px;
    }
  </style>
</head>

<body>
    <center><h1>Birth Rates by Education Level</h1></center>
  <div id="map-id"></div>

  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="../static/js/rainbowvis.js"></script>

  <script src="../static/js/map.js"></script>
</body>

</html>